{{ define "back/focus/add.html" }}
{{ template "back/public/header.html" .}}



<div class="panel panel-default">
    <div class="panel-heading">
        增加轮播图
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/focus/doAdd" method="post">

                <div class="form-group">
                    <label for="name">名称</label>
                    <input type="text" class="form-control" id="name" name="username" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for="ftype">名称</label>
                    <select class="form-control" name="type" id="ftype">
                        <option value="1">网站</option>
                        <option value="2">App</option>
                        <option value="3">小程序</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="link">链接</label>
                    <input type="text" class="form-control" id="link" name="link" placeholder="请输入链接地址">
                </div>
                <div class="form-group">
                    <label for="imgs">图片</label>
                    <input type="file" class="form-control" name="img" id="imgs">
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>
</div>


</body>

</html>

{{end}}