
{{ define "back/focus/index.html" }}
{{ template "back/public/header.html" .}}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>名称</th>
                <th>链接</th>
                <th>类型</th>
                <th>图片</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $key,$value := .focus}}
            <tr>
                <td>{{$value.Name}}</td>
                <td>{{$value.Link}}</td>
                <td>{{$value.FocusType}}</td>
                <td><img src="/{{$value.Img}}"/></td>
                <td class="text-center">
                    <a href="/admin/focus/edit?id={{$value.Id}}">修改</a>
                    <a href="/admin/focus/delete?id={{$value.Id}}">删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

</body>
</html>

{{end}}