
{{ define "back/role/index.html" }}
{{ template "back/public/header.html" .}}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>角色名称</th>
                <th>角色名称</th>
                <th>角色状态</th>
             
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>


            <tr>

                <td class="text-center">
                    <a href="">修改</a>
                    <a class="delete" href="">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

{{end}}