
{{ define "back/role/index.html" }}
{{ template "back/public/header.html" .}}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>角色名称</th>
                <th>状态</th>
                <th>描述</th>
                <th>创建时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>

            {{ range $key,$value := .roles}}
            <tr>
                <td>{{$value.Title}}</td>
                <td>{{$value.Status}}</td>
                <td>{{$value.Description}}</td>
                <td>{{$value.AddTime}}</td>
                <td class="text-center">
                    <a href="/admin/role/edit?id={{$value.Id}}">修改</a>
                    <a class="delete" href="">删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

</body>
</html>

{{end}}