<!--
 * @Author: your name
 * @Date: 2021-09-19 11:01:49
 * @LastEditTime: 2021-09-20 18:28:14
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /saas/templates/back/manager/index.html
-->
{{ define "back/manager/index.html" }}
{{ template "back/public/header.html" .}}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="th">
            <th>用户名</th>
            <th>电话</th>
            <th>邮件</th>
            <th>角色</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        {{range $key,$value := .managers}}
        <tr>
            <td>{{$value.Username}}</td>
            <td>{{$value.Mobile}}</td>
            <td>{{$value.Email}}</td>
            <td>{{$value.Role.Title}}</td>
            <td class="text-center">
                <a href="/admin/manager/edit?id={{$value.Id}}">修改</a>
                <a href="/admin/manager/delete?id={{$value.Id}}">删除</a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

</body>
</html>

{{end}}