.wrapper > .wrap {
    width: 1200px;
    margin: 60px auto 0;
}

.wrapper > .wrap:nth-child(4) {
    width: auto;
}

.wrapper > .wrap > div {
    margin-top: 60px;
}

.wrapper > .wrap > div:first-child {
    margin-top: 0;
    text-align: center;
}

.title {
    height: 32px;
    background: no-repeat center;
}

.business .title {
    background-image: url("../images/title01.png");
}

.business .content {
    font-size: 18px;
    text-align: center;
    color: #282828;
}

.business .content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.business .content > div {
    float: left;
    width: 25%;
}

.business .text {
    margin-top: 15px;
}

.business img {
    width: 110px;
}

.develop .title {
    background-image: url("../images/title02.png");
}

.develop .content {
    padding: 50px;
    box-shadow: 0 0 10px #eee;
}

.develop .text {
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    color: #868686;
}

.develop .text .last {
    margin-top: 16px;
}

.develop .float-wrap {
    margin-top: 50px;
    line-height: 1.7;
    text-align: center;
    color: #282828;
}

.develop .float-wrap > div:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.develop .float-wrap > div > div {
    float: left;
    width: 16%;
}

.develop .float-wrap img {
    width: 60px;
    height: 60px;
}

.involve .title {
    background-image: url("../images/title03.png");
}

.involve .content {
    padding-top: 50px;
    box-shadow: 0 0 10px #eee;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
    color: #282828;
}

.involve .content > div:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.involve .content > div > div {
    float: left;
    width: 25%;
    margin-bottom: 50px;
}

.involve .content img {
    width: 80px;
    height: 72px;
}

.case .title {
    background-image: url("../images/title04.png");
}

.case .content > div:nth-child(even) {
    background-color: #f5f9ff;
}

.case .item {
    width: 1200px;
    margin: 0 auto;
}

.case .item:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.case .item > div {
    float: left;
    width: 50%;
    padding: 0 60px;
}

.case .item-text {
    margin-top: 139px;
    font-size: 16px;
    line-height: 1.7;
    color: #999;
}

.case .item-text > div {
    margin-top: 60px;
}

.case .item-text > div:first-child {
    margin-top: 0;
}

.case .content > div:nth-child(odd) .item-text > div:first-child {
    text-align: right;
}

.case .content > div:nth-child(even) .item-text > div:first-child {
    text-align: left;
}

.case .content > div:nth-child(1) .item-text > div:first-child span {
    background-color: #ff886a;
    background: linear-gradient(to right, #ff886a, #ff4560);
}

.case .content > div:nth-child(2) .item-text > div:first-child span {
    background-color: #3a5cfc;
    background: linear-gradient(to right, #3a5cfc, #44a5fa);
}

.case .content > div:nth-child(3) .item-text > div:first-child span {
    background-color: #fea969;
    background: linear-gradient(to right, #fea969, #ff5941);
}

.case .content > div:nth-child(4) .item-text > div:first-child span {
    background-color: #41baff;
    background: linear-gradient(to right, #41baff, #13dbff);
}

.case .content > div:nth-child(5) .item-text > div:first-child span {
    background-color: #ff81c5;
    background: linear-gradient(to right, #ff81c5, #ff3b92);
}

.case .content > div:nth-child(6) .item-text > div:first-child span {
    background-color: #20c691;
    background: linear-gradient(to right, #20c691, #44ead5);
}

.case .content > div:nth-child(7) .item-text > div:first-child span {
    background-color: #ff886a;
    background: linear-gradient(to right, #ff886a, #ff4560);
}

.case .content > div:nth-child(8) .item-text > div:first-child span {
    background-color: #3a5cfc;
    background: linear-gradient(to right, #3a5cfc, #44a5fa);
}

.case .content > div:nth-child(odd) .item-text > div:first-child span {
    border-radius: 23px 0 23px 23px;
}

.case .content > div:nth-child(even) .item-text > div:first-child span {
    border-radius: 0 23px 23px 23px;
}

.case .item-text > div:first-child span {
    display: inline-block;
    width: 260px;
    height: 46px;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: #fff;
}

.case .item-text > div:last-child > div {
    display: -webkit-flex;
    display: flex;
    margin-top: 28px;
}

.case .item-text > div:last-child > div > div:last-child {
    -webkit-flex: 1;
    flex: 1;
}

.case .item-img {
    text-align: center;
}

.process .title {
    background-image: url("../images/title05.png");
}

.process .content {
    font-size: 16px;
    text-align: center;
    color: #282828;
}

.process .content > div {
    display: inline-block;
}

.process .content > div:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.process .content > div > div {
    float: left;
    width: 100px;
    text-align: center;
}

.process .content .arrow-right {
    width: 50px;
}

.process .content > div > div > div {
    margin-top: 10px;
}

.process .content > div > div > div:first-child {
    margin-top: 0;
}

.process .info {
    font-size: 14px;
    line-height: 1.7;
    color: #999;
}

.process img {
    width: 83px;
    margin-left: -10px;
}

.process .arrow-right img {
    width: auto;
    margin-top: 34px;
}

.wrapper .price {
    margin-top: 35px;
}

.price {
    padding-top: 150px;
    padding-bottom: 35px;
    background: url("../images/price-bg.png") no-repeat center -130px;
    background-size: 100% 146%;
    text-align: center;
    color: #fff;
}

.price .title {
    background-image: url("../images/title06.png");
}

.wrapper .price .content {
    margin-top: 15px;
}

.price .content > div {
    margin-top: 26px;
    font-size: 18px;
}

.price .content > div:first-child {
    margin-top: 0;
}

.price button {
    width: 128px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    color: #6d51f6;
}

.price .bnt {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 26px;
    font-size: 15px;
    width: 128px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    color: #6f53f8;
    background-color: #fff;
    vertical-align: middle;
}

.set_4_button1.raised:active {
    background-color: #fff;
}